* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'IBM Plex Sans Arabic','IBM Plex Sans Arabic Regular','IBM Plex Sans Arabic SemiBold','IBM Plex Sans Arabic Bold' sans-serif;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
    font-size: 16px;
}
